:root {
    --black: #1d1f23;
    --green-700: #123e35;
    --green-600: #2d4a43;
    --light-blue: #69818d;
    --gray-500: #afb3b7;
    --gray-700: #5a636a;
    --white: #FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--black);
    font-size: 16px;
}

.navbar {
    display: flex;
    padding: 0.1rem 1rem;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand {
    padding: 8px 0;
}
.navbar-brand img {
    width: 70px;
}

.container {
    max-width: 1200px;
    border: 1px solid var(--white);
    margin: 0 auto;
}

.char-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.character {
    background-color: var(--green-600);
}
.character .box {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.character .box img {
    width: 350px;
    height: 350px;
    padding: 25px;
    cursor: pointer;
}
.character .box div {
    position: relative;
    bottom: 30px;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: var(--green-700);
    color: var(--white);
}